torch
torchaudio
torchcodec
transformers==4.46.0
peft
accelerate
deepspeed
sentencepiece
protobuf
pyyaml
numpy>=1.26.0,<2.1.0
pandas>=2.0.0,<2.3.0
matplotlib
scikit-learn>=1.3.0,<1.6.0
tqdm
openai-whisper
opencv-python-headless
loguru
xgrammar
timm
einops
hydra-core
pydub==0.25.1
kaldiio==2.18.1
pydantic==1.10.13
soundfile
librosa
pytest
joblib
